:root {
  --rich-black: #000814ff;
  --oxford-blue: #001d3dff;
  --yale-blue: #003566ff;
  --mikado-yellow: #ffc300ff;
  --gold: #ffd60aff;
}

:root,
:root *,
:root::before,
:root::after {
  font-size: 1.5rem;
  box-sizing: border-box;
  color: white;
}

header {
  margin-bottom: 3rem;
}

nav {
  background-color: var(--rich-black);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

main#flexbox-16x16 {
  background-color: var(--rich-black);
}

main#flexbox-16x16 .horizontal-flexbox {
  background-color: var(--yale-blue);
  border-radius: .5rem;
  border: 1px solid var(--mikado-yellow);
  display: flex;
  gap: .5rem;
  height: 5rem;
  overflow: hidden;
  padding: 1rem;
}

main#flexbox-16x16 .horizontal-flexbox .item-flexbox {
  flex: auto;
  background-color: white;
  border-radius: .3rem;
  border: 1px solid var(--gold);
}

