@font-face {
    font-family: 'Nerd-Font-Icon';
      src: url('../fonts/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf');
}

:root {
  --rich-black: #000814FF;
  --oxford-blue: #001D3DFF;
  --yale-blue: #003566FF;
  --mikado-yellow: #FFC300FF;
  --gold: #FFD60AFF;
  --colombia-blue: #C9DAEA;
  --yellow-green: #B6C454;
  --selective-yellow: #FFBA00;
  --brown: #964B00;
}

:root,
:root *,
:root::before,
:root::after {
  font-size: 1.5rem;
  box-sizing: border-box;
  margin: 0;
}

.icon-font,
.icon-font span {
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Nerd-Font-Icon', serif-sans;
}

header {
  margin-bottom: 3rem;
  color: white;
}

nav {
  background-color: var(--rich-black);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

section#sketch-grid {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  --grid-item-size: 0.9rem;
  user-select: none;
  -webkit-user-select: none;
  --grid-item-border-color: var(--gold);
  border: 1px solid black;
}

section#sketch-grid .horizontal-flexbox {
  display: flex;
  height: fit-content;
  overflow: hidden;
}

.item-flexbox-border {
  border: 1px solid var(--grid-item-border-color);
}

section#sketch-grid .horizontal-flexbox .item-flexbox {
  flex: auto;
  background-color: white;
  height: var(--grid-item-size);
  width: var(--grid-item-size);
  transition: background-color 0.178s;
}

section#sketch-grid .horizontal-flexbox .item-flexbox.background-darkblue {
  background-color: var(--rich-black);
}

button.navigation-button {
  color: white;
  font-size: .8rem;
  background-color: var(--oxford-blue);
  border-radius: .3rem;
  border: 1px solid var(--yale-blue);
  padding: .3rem;
  transition: background-color 0.2s;
}

button.navigation-button:hover {
  background-color: var(--yellow-green);
  color: var(--rich-black);
}

button.navigation-button:focus {
  background-color: var(--colombia-blue);
  color: var(--rich-black);
}

div#github-profile-image {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  height: 100%;
  margin-right: 1em;
}

div#github-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 auto;
}

div#github-profile-image::before {
  color: white;
  position: absolute;
  display: none;
}

div#github-profile-image a,
div#github-profile-image img,
div#github-profile-image img a {
  height: 100%;
}

div#github-profile-image img {
  object-fit: contain;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

div#github-profile-image:hover img {
  opacity: 0.3;
}

div#github-profile-image::before {
  content: 'ギット';
  width: 990%;
  text-align: center;
  font-size: .35em;
}

div#github-profile-image:hover::before {
  display: block;
}

dialog#new-grid-dialog::backdrop {
  background-color: black;
  opacity: .5;
}

dialog#new-grid-dialog {
  position: absolute;
  inset: 0;
  border-radius: .5rem;
  margin: auto;
  width: max-content;
}

.control-button {
  display: flex;
}

.control-button span {
  font-size: .5em;
  border-radius: 50%;
}

#close-new-grid-dialog-button span {
  color: red;
  background: darkred;
}

#minimize-new-grid-dialog-button span {
  color: var(--selective-yellow);
  background: var(--brown);
}

.controls-dialog {
  display: flex;
  gap: .3rem;
  padding: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #84DCCF;
}

dialog#new-grid-dialog form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

dialog#new-grid-dialog form * {
  font-size: .8em;
}

div#margin-bottom-after-controls {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

#new-grid-dialog-main-icon {
  justify-self: center;
}

#new-grid-dialog-main-icon span {
  font-size: 1.5em;
}

#home-logo a {
  text-decoration: none;
  color: white;
}

#home-logo a:hover {
  text-decoration: underline;
}

#toolbar {
  border: 1px solid black;
  border-radius: .5rem;
  width: max-content;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: white;
  height: max-content;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
}

#toolbar > * {
  cursor: pointer;
  padding: .3rem;
  border-radius: .5rem;
  border: 1px solid transparent;
}

#toolbar > *:hover {
  filter: brightness(85%);
}

#toolbar hr {
  cursor: default;
  background: black;
  padding: 0;
  border-bottom: 1px solid black;
}

#toolbar #toolbar-drag:active {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#color-mode.color-active,
#draw-mode.draw-active,
#erase-mode.erase-active {
  border: 1px solid black;
}

#draw-mode.draw-active {
  background-color: white;
}

#erase-mode.erase-active {
  background-color: pink;
}

